Необходимо написать функцию, которая принимает на вход pandas DataFrame состоящий из N столбцов и дополнительный строковый аргумент, означающий тип заполнения пропусков:
- k столбцов будут численными значениями(numerical) и.они будут полностью заполнены
- n-k столбцов будут object - и могут содержать пропуски

Необходимо, чтобы функция возвращала датасет без пропусков и реализовывала следующие методы заполнения:
- пустыми строками
- наиболее используемыми значеними

In [58]:
import pandas as pd

def print_most_frequent_values(df):
    obj_columns = df.select_dtypes(include='object')
    for col in obj_columns:
        val_counts = df[col].value_counts()
        print(col)
        print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
        print('\tempty: ' + str(df[col].isna().sum()))

def fill_missing_values(df: pd.DataFrame, fill_type: str = 'empty'):
    result_df = df.copy()
    
    match fill_type:
        case 'empty':
            result_df.fillna('', inplace=True)
        case 'most_frequent':
            obj_col = result_df.select_dtypes(include='object')
            for col in obj_col:
                result_df[col].fillna(result_df[col].value_counts().index[0], inplace=True)

    return result_df

In [50]:
data = pd.read_csv('tweets-engagement-metrics.csv')
data

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102057,102057,tw-8184962,Male,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-696378029526933504,10,7,Sunday,True,1203.0,3.0,0.0,44.0,3.0,en,RT @Springcoil: Does anyone have a good workfl...
102058,102058,tw-2510632527,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-686895097175228416,5,12,Tuesday,True,976.0,102.0,0.0,31.0,0.0,en,RT @linuxacademyCOM: AWS CSA Associate and Pro...
102059,102059,tw-148753637,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-709632884269785088,0,15,Tuesday,False,4876.0,0.0,0.0,49.0,1.0,en,Curious @benthompson does this change your opi...
102060,102060,tw-448919812,Unisex,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-705055534920163328,8,2,Wednesday,True,188.0,5.0,0.0,37.0,0.0,en,RT @awscloud: New on the AWS Startup Blog - Wh...
102061,102061,tw-252561397,Unknown,6289.0,Bulawayo,Bulawayo,ZW,Zimbabwe,tw-701487153818238976,12,21,Sunday,True,199.0,3.0,0.0,23.0,0.0,en,RT @ICTAfrica1: 15 Top Paying IT Certification...

In [59]:
print_most_frequent_values(data)

UserID
	tw-66780587: 845
	empty: 0
Gender
	Male: 52603
	empty: 0
City
	Seattle: 7298
	empty: 2279
State
	California: 11734
	empty: 1897
StateCode
	US-CA: 11734
	empty: 1726
Country
	United States: 51457
	empty: 0
TweetID
	tw-703486262863372288: 3
	empty: 0
Weekday
	Tuesday: 18826
	empty: 0
Lang
	en: 93564
	empty: 0
text
	Zombiler uyandnda Amazon Web Services hazr olacak http://woisio.com/en/ife-and-love/56c11506e4b0bbe73ced0931/zombiler-uyandiginda-amazon-web-services-hazir-olacak?partnerId=322: 484
	empty: 0

C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))

In [60]:
data_filled_m = fill_missing_values(data, fill_type='most_frequent')
data_filled_m

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102057,102057,tw-8184962,Male,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-696378029526933504,10,7,Sunday,True,1203.0,3.0,0.0,44.0,3.0,en,RT @Springcoil: Does anyone have a good workfl...
102058,102058,tw-2510632527,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-686895097175228416,5,12,Tuesday,True,976.0,102.0,0.0,31.0,0.0,en,RT @linuxacademyCOM: AWS CSA Associate and Pro...
102059,102059,tw-148753637,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-709632884269785088,0,15,Tuesday,False,4876.0,0.0,0.0,49.0,1.0,en,Curious @benthompson does this change your opi...
102060,102060,tw-448919812,Unisex,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-705055534920163328,8,2,Wednesday,True,188.0,5.0,0.0,37.0,0.0,en,RT @awscloud: New on the AWS Startup Blog - Wh...
102061,102061,tw-252561397,Unknown,6289.0,Bulawayo,Bulawayo,ZW,Zimbabwe,tw-701487153818238976,12,21,Sunday,True,199.0,3.0,0.0,23.0,0.0,en,RT @ICTAfrica1: 15 Top Paying IT Certification...

In [61]:
print_most_frequent_values(data_filled_m)

UserID
	tw-66780587: 845
	empty: 0
Gender
	Male: 52603
	empty: 0
City
	Seattle: 9577
	empty: 0
State
	California: 13631
	empty: 0
StateCode
	US-CA: 13460
	empty: 0
Country
	United States: 51457
	empty: 0
TweetID
	tw-703486262863372288: 3
	empty: 0
Weekday
	Tuesday: 18826
	empty: 0
Lang
	en: 93564
	empty: 0
text
	Zombiler uyandnda Amazon Web Services hazr olacak http://woisio.com/en/ife-and-love/56c11506e4b0bbe73ced0931/zombiler-uyandiginda-amazon-web-services-hazir-olacak?partnerId=322: 484
	empty: 0

C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))

In [63]:
data_filled_e = fill_missing_values(data)
data_filled_e

,Unnamed: 0,UserID,Gender,LocationID,City,State,StateCode,Country,TweetID,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text
0,0,tw-1267804344,Unknown,1.0,Elbasan,Elbasan,AL,Albania,tw-698155297102295041,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi..."
1,1,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-685159757209059329,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...
2,2,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686907710311378944,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...
3,3,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-686968158050201600,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...
4,4,tw-27229880,Male,2.0,Tirana,Tirane,AL,Albania,tw-690210449674092545,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102057,102057,tw-8184962,Male,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-696378029526933504,10,7,Sunday,True,1203.0,3.0,0.0,44.0,3.0,en,RT @Springcoil: Does anyone have a good workfl...
102058,102058,tw-2510632527,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-686895097175228416,5,12,Tuesday,True,976.0,102.0,0.0,31.0,0.0,en,RT @linuxacademyCOM: AWS CSA Associate and Pro...
102059,102059,tw-148753637,Unknown,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-709632884269785088,0,15,Tuesday,False,4876.0,0.0,0.0,49.0,1.0,en,Curious @benthompson does this change your opi...
102060,102060,tw-448919812,Unisex,6288.0,Harare,Harare Province,ZW,Zimbabwe,tw-705055534920163328,8,2,Wednesday,True,188.0,5.0,0.0,37.0,0.0,en,RT @awscloud: New on the AWS Startup Blog - Wh...
102061,102061,tw-252561397,Unknown,6289.0,Bulawayo,Bulawayo,ZW,Zimbabwe,tw-701487153818238976,12,21,Sunday,True,199.0,3.0,0.0,23.0,0.0,en,RT @ICTAfrica1: 15 Top Paying IT Certification...

In [64]:
print_most_frequent_values(data_filled_e)

UserID
	tw-66780587: 845
	empty: 0
Gender
	Male: 52603
	empty: 0
City
	Seattle: 7298
	empty: 0
State
	California: 11734
	empty: 0
StateCode
	US-CA: 11734
	empty: 0
Country
	United States: 51457
	empty: 0
TweetID
	tw-703486262863372288: 3
	empty: 0
Weekday
	Tuesday: 18826
	empty: 0
Lang
	en: 93564
	empty: 0
text
	Zombiler uyandnda Amazon Web Services hazr olacak http://woisio.com/en/ife-and-love/56c11506e4b0bbe73ced0931/zombiler-uyandiginda-amazon-web-services-hazir-olacak?partnerId=322: 484
	empty: 0

C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))
C:\Users\vm140\AppData\Local\Temp\ipykernel_13784\2745300598.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('\t' + str(val_counts.index[0]) + ': ' + str(val_counts[0]))